{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Welcome to Movie Reviews</h1>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ movie.Title }}</h5>
                <p class="card-text">{{ movie.Year }}</p>
                <a href="{{ url_for('movie.movie_details', movie_id=movie.imdbID) }}" class="btn btn-primary">See Reviews</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}